<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
		<link rel="stylesheet" href="/test.css">
	</head>
	<style>
		.linkH { 
		    position: absolute;
		    right:150px;
		    display: block;
		    background: #4E9CAF;
		    padding: 10px;
		    text-align: center;
		    border-radius: 5px;
		    color: white;
		    font-weight: bold  
		}

		.article {
			 padding: 100px 0;
			text-align: center;
			}

		.linkS { 
			position: absolute;  
			right:50px;
			display: block;
			background: #4E9CAF;
			padding: 10px;
			text-align: center;
			border-radius: 5px;
			color: white;
			 font-weight: bold;
			}
</style>

<body>
 	<div class="linkH"><a href="#">Home</a></div>
 	<div class="linkS"><a href="/welcome.html">SignIn</a></div>
 	<div>
 		<article class="article">
 			<form  method="POST" >
  				<h1><span style="color:blue">SignUp Today</span></h1>
  				 	</br><input type="text" name="uname" placeholder="Enter UserName" required autofocus/></br>
 			  	</br><input type="password" name="pass" placeholder="Enter Password"required /></br>
 			   	</br><input type="email" name="email" placeholder="Enter Your EmailId"required autofocus/></br>
 			   	</br><button type="submit">LOGIN</button>

 			</form>
		</article>
	</div>
 </body>
</html>
